<br>
<form action="http://localhost:8081/ProjetosPHP/Exercicios/view/ex5/ex5.php" method="POST">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">O Valor do Litro da Gasolina é R$5.50</label>
        <label for="validationDefault01">Volume Inserido</label>
        <input type="number" class="form-control" id="Volume" 
        name="Volume" Insira o Valor" value="" required>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>