<br>
<form action="http://localhost:8081/ProjetosPHP/Exercicios/view/ex3/ex3.php" method="POST">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Numero De Paes</label>
        <input type="number" class="form-control" id="NumeroDePaes" 
        name="NumeroDePaes" Insira o Valor" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Numero de Broas</label>
        <input type="number" class="form-control" id="NumeroDeBroas" 
        name="NumeroDeBroas" Insira o Valor" value="" required>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>