<br>
<form action="http://localhost:8081/ProjetosPHP/Exercicios/view/ex4/tornoEx8.php" method="POST">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Primeiro Nota</label>
        <input type="number" class="form-control" id="nota1" name="nota1" Insira o Valor" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Segunda Nota</label>
        <input type="number" class="form-control" id="nota2" name="nota2" Insira o Valor" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Terceira Nota</label>
        <input type="number" class="form-control" id="nota2" name="nota3" placeholder="Insira o Valor" value="" required>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>