<br>
<form action="http://localhost:8081/ProjetosPHP/Exercicios/view/ex6/ex6.php" method="POST">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">
          Preço do Quilo da Refeição é R$12,00
        </label>
        <label for="validationDefault01">Digite a Quantidade da Balança</label>
        <input type="number" class="form-control" id="PesoComida"
         name="PesoComida" Insira o Valor" value="" required>
    </div>
    <label for="validationDefault01">
      OBS: Já descontado o peso do prato 0.5 kg.
    </label>
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>