<br>
<form action="http://localhost:8081/ProjetosPHP/Exercicios/view/ex1/ex1.php" method="POST">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Largura</label>
        <input type="number" class="form-control" id="Largura" 
        name="Largura" Insira o Valor" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Comprimento</label>
        <input type="number" class="form-control" id="Comprimento" 
         name="Comprimento" Insira o Valor" value="" required>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>